@page "/"

<PageTitle>Home</PageTitle>

<MudCard>
    <MudCardHeader>
        <h1>
            What is erasmus?
        </h1>
    </MudCardHeader>
    <MudCardContent>
        Erasmus+ is the EU's programme to support education, training, youth and sport in Europe.
        It has an estimated budget of €26.2 billion. This is nearly double the funding compared to its predecessor programme (2014-2020).
        The 2021-2027 programme places a strong focus on social inclusion, the green and digital transitions, and promoting young people’s participation in democratic life.
        It supports priorities and activities set out in the European Education Area, Digital Education Action Plan and the European Skills Agenda. The programme also
        <MudList T="string">
            <MudListItem T="string">Supports the European Pillar of Social Rights</MudListItem>
            <MudListItem T="string">Implements the EU Youth Strategy 2019-2027</MudListItem>
            <MudListItem T="string">Develops the European dimension in sport</MudListItem>
        </MudList>
    </MudCardContent>
    <MudCardActions Class="justify-space-between">
        <MudButton Color="Color.Primary" Href="https://erasmus-plus.ec.europa.eu/">
            Visit Erasmus+ Website
        </MudButton>
        <MudButton Color="Color.Primary" Href="https://erasmus-plus.ec.europa.eu/about-erasmus/what-is-erasmus">
            Source
        </MudButton>
    </MudCardActions>
</MudCard>
